*{
    box-sizing:border-box;
}

header {
    display:flex;
    background-color:#dccfba;
    align-items:center;
    gap:1rem;
}

main {
    display:flex;
    gap:1rem;
}

/* testing boarders */
ul li span {
    font-weight:bold;
}
